@model IEnumerable<TravelAPI.ViewModels.RatingCountGroup>
           
@{
    ViewBag.Title = "Rating Statistics";
}

<h2>Rating Statistics</h2>

<table>
    <tr>
        <th>
            City
        </th>
        <th>
            # Of Ratings
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @item.RatingCount
        </td>
    </tr>
}


</table>

<hr>
<button class="bottom">@Html.ActionLink("Go To Search", "Sort")</button>