@* @model TravelAPI.Models.Destination *@

@* <p>
    @Html.ActionLink("Create New", "Create")
</p> *@

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}
<table class="table">
    <tr>
        @* <th>
            @Html.ActionLink("Last Rating", "Index", new { sortOrder = ViewBag.RatingSortParm })
        </th> *@
        <th>Rating
        </th>
        @* <th>
            @Html.ActionLink("Country", "Index", new { sortOrder = ViewBag.CountrySortParm })
        </th> *@
        <th></th>
    </tr>

@* @foreach (var item in ) 
{
    <li></li>
} *@